<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>20/01/16 15:57:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Class3_TestNG.beforeMethod()[pri:0, instance:info.testNG.Class3_TestNG@173813a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@3465785</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/16 15:57:16</td>   <td>6783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Class3_TestNG.loginFailureTestCase()[pri:0, instance:info.testNG.Class3_TestNG@173813a]">loginFailureTestCase</td> 
  <td>main@3465785</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/16 15:57:16</td>   <td>7211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Class3_TestNG.afterMethod()[pri:0, instance:info.testNG.Class3_TestNG@173813a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@3465785</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/16 15:57:17</td>   <td>8657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Class3_TestNG.beforeMethod()[pri:0, instance:info.testNG.Class3_TestNG@173813a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@3465785</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/16 15:57:22</td>   <td>13417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Class3_TestNG.loginSuccessTestCase()[pri:0, instance:info.testNG.Class3_TestNG@173813a]">loginSuccessTestCase</td> 
  <td>main@3465785</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/01/16 15:57:22</td>   <td>13769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Class3_TestNG.afterMethod()[pri:0, instance:info.testNG.Class3_TestNG@173813a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@3465785</td>   <td></td> </tr>
</table>
